
.main-footer {
  background: $primary-color;
  color: white;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  .footer-infos {
    margin-bottom: 20px;
    font-size: 1.8rem;
  }

  .footer-infos:after {
    margin-top: 15px;
    content: ' ';
    display: block;
    background: white;
    height: 1px;
    width: 100%;
  }

  a {
    color: white;
  }

  p {
    margin-top: 0;
  }

  ul, li {
    margin: 0 auto;
    padding: 0;
  }

  .footer-meta a {
    font-size: 1.4rem;
  }

  .footer-meta li:first-child a {
    margin-right: 10px;
  }

  li:last-child {
    margin-left: 10px;
  }

  .web-credits {
    font-size: 1.4rem;
    margin: 0;
  }
}


@media (min-width: $xsm-screen) {
} // end of xsm-screen - 576px

@media (min-width: $sm-screen) {
} // end of sm-screen - 768px

@media (min-width: $md-screen) {
  footer.desktop-footer {
    // position: fixed;
    // bottom: 0;
    // width: 100vw;
    // display: flex;
    // padding-left: 3vw;
    // padding-right: 3vw;
    // justify-content: space-between;
    // align-items: center;

    .footer-meta p,
    .footer-meta a{
      text-align: right;
      font-size: 1.4rem;
    }

    .footer-meta li a {
      font-size: 1.4rem;
      // margin-right: 10px;
    }


    svg {
      height: 1rem;
    }
  }
} // end of md-screen - 992px

@media only screend and (min-width: $lg-screen) {
} // end of lg-screen - 1200px

@media (min-width: $hg-screen) {
} // end of hg-screen - 1440px
