
.main-footer {
  background: $primary-color;
  color: white;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  .footer-infos {
    margin-bottom: 20px;
    font-size: 1.6rem;
  }

  .footer-infos:after {
    margin-top: 15px;
    content: ' ';
    display: block;
    background: white;
    height: 1px;
    width: 100%;
  }

  a {
    color: white;
  }

  p {
    margin-top: 0;
  }

  ul, li {
    margin: 0 auto;
    padding: 0;
  }

  .footer-meta a {
    font-size: 1.4rem;
  }

  .footer-meta li:first-child a {
    margin-right: 10px;
  }

  li:last-child {
    margin-left: 10px;
  }

  .web-credits {
    font-size: 1.4rem;
    margin: 0;
  }
}


@media (min-width: $xsm-screen) {
} // end of xsm-screen - 576px

@media (min-width: $sm-screen) {
} // end of sm-screen - 768px

@media (min-width: $md-screen) {

  .main-footer {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 12px 42px;

    .footer-infos,
    .footer-meta {
      flex: 0 1 auto;
      margin: 0;
    }

    .footer-infos {
      text-align: left;
      font-size: 1.8rem;
    }

    .footer-infos:after {
      content: none;
    }

    .footer-meta ul {
      text-align: right;
    }

    .footer-meta p,
    .footer-meta a{
      text-align: right;
      font-size: 1.6rem;
      margin: 0;
    }

    .footer-meta a {
      padding: 1px 4px;
    }

    .footer-meta a:hover {
      background: white;
      color: $bright-aqua;
    }


  }

} // end of md-screen - 992px

@media (min-width: $lg-screen) {
} // end of lg-screen - 1200px

@media (min-width: $hg-screen) {
} // end of hg-screen - 1440px
