/*----- COMPONENTS : NAVBAR ----- */


ul#main-menu {
  width: 100vw;
  display: flex;
  justify-content:  flex-end;
  list-style-type: none;
  margin-block-start: 0em;
  margin-block-end: 0em;
  padding-inline-start: 0px;
  li {
    display: inline-block;
    margin-right: 2vw;
    margin-left: 2vw;
    text-transform: uppercase;
  }
  li:last-child {
    font-family: $accent-font;
    text-transform: none;
    font-style: italic;
  }
}
