/*----- VARIABLES : COLORS ----- */

$bright-blue: #001E6C;
$dark-blue: #000A24;
$bright-aqua: #33DDD9;
$light-aqua: #EEFFFE;


$primary-color: $bright-blue;
$secondary-color: $dark-blue;
$accent-color: $bright-aqua;
$accent-light: $light-aqua;

$light-gray: #F4F4F4;
$medium-gray: #D9D9D9;
$dark-gray: #575759;
