/*----- VARIABLES : FONTS ----- */

@import url("https://use.typekit.net/tec1vmi.css");


$body-font: 'freight-sans-pro', sans-serif; //400, 500, 600
$headers-font: 'benton-modern-display', serif; //400 & 700
$accent-font: 'benton-modern-display', serif; //400 & 700



