/*----- VARIABLES : FONTS ----- */

@import url("https://use.typekit.net/tec1vmi.css");


$body-font: 'freight-sans-pro', sans-serif;
$headers-font: 'freight-sans-pro', sans-serif;
$accent-font: 'benton-modern-display', serif;


body {
  font-family: $body-font;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $headers-font;
}

.accent-text, em {
  font-family: $accent-font;
}
