/*----- LAYOUTS: HOMEPAGE ----- */


// general stuff for homepage
#homepage {

  .main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .section-title {
    font-size: 2rem;
    text-align: left;
    font-family: $body-font;
    text-transform: uppercase;
    margin-bottom: calc(0.8em + 4px)
  }

  .section-title span {
    padding-bottom: 4px;
    border-bottom: 2px solid $bright-blue;
  }

  .homepage-section {
    min-height: 100vh;
  }

}


.banner-mention span {
  background: $bright-blue;
  color: white;
  padding: 4px 8px;
}


@media (min-width: $md-screen) {
  #homepage {
    .homepage-section {
      padding-top: 142px;
      min-height: calc(100vh - 142px);
    }

    .section-title {
      font-size: 2.6rem;
    }
  }
} // end of md-screen - 992px
// end of general stuff for homepage


#homepage-banner {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  img {
    width: 80%;
  }

  .banner-adresse {
    font-size: 2rem;
    color: $dark-blue;
  }

  .banner-contact {
    color: $medium-gray;
  }
}


@media (min-width: $md-screen) {
  #homepage-banner {
    img {
      width: 40%;
    }

    .banner-adresse {
      font-size: 2.4rem;
    }

    .banner-contact {
      font-size: 2rem;
    }
  }
} // end of md-screen - 992px
// end of homepage banner


#presentation {

  h1 {
    text-align: center;
  }
}

@media (min-width: $md-screen) {
  #presentation {

    .homepage-section{
      // min-height
    }

    .presentation-content {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    h1 {
      margin-top: 0;
    }

    p {
      padding-left: 1vw;
      flex: 0 1 40%;
    }

  }

} // end of md-screen - 992px


#expertise {
  background: $light-aqua;

  .container {
    padding: 24px 0;
    margin: 0 auto;
  }
  .expertises-container  {
    width: 100%;
  }

  .expertise-field {
    background: white;
    border: 1px solid $bright-aqua;
    padding: 16px;
    margin: 24px auto;
  }
  .expertise-field h3 {
    font-size: 2rem;
    text-align: center;
    color: $bright-aqua;
    line-height: 1;
    margin: 1em auto;
  }

  ul {
    list-style: inside;
    padding-left: 0;
  }
}

@media (min-width: $md-screen) {

  #expertise {
      height: 100vh;

    .container {
      padding-top: 0;
      padding-bottom: 0;
      height: calc(100vh - 142px);
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: flex-start;
    }

    .section-title {
      margin-left: 0;
    }

    .expertises-container {
      display: flex;
      justify-content: space-between;
      align-items: stretch;
      margin-bottom: 24px;
    }

    .expertise-field {
      flex: 0 0 48%;
      padding: 24px;
    }
  }
} // end of md-screen - 992px


#honoraires {
  flex-direction: column;

  p.tagline {
    font-family: $accent-font;
    font-style: italic;
    color: $bright-blue;
  }

  h6 {
    text-transform: uppercase;
    font-size: 1.6rem;
    font-weight: 500;
  }
}

@media (min-width: $md-screen) {

  #honoraires {

    .honoraire-content {
      display: flex;
      justify-content: space-between;
    }

    .column {
      flex: 0 0 auto;
    }

    .two-columns {
      width: 48%;
    }
  }
} // end of md-screen - 992px




#contact {
  background: $light-aqua;
  min-height: 100vh;

  .container {
    padding: 24px 0;
    margin: 0 auto;
  }

  .tagline {
    text-align: center;
    font-size: 1.8rem;
  }

  .adresse {
    font-size: 1.8rem;
    list-style: none;
    padding: 0;
    font-family: $accent-font;
    font-style: italic;
    text-align: center;
    margin: 0px auto;
  }

  .white-column {
    background: white;
    padding: 16px;
    border: 1px solid $bright-aqua;
  }
}

@media (min-width: $md-screen) {

  #contact {



    .container {
      padding-top: 0;
      padding-bottom: 0;
      min-height: calc(100vh - 142px);
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: flex-start;
    }

    .section-title {
      margin: 0;
    }

    .columns {
      margin-bottom: 34px;
    }

    .white-column {
      padding: 24px;
    }

    .two-columns:first-child {
      flex: 0 0 25%;
    }

    .two-columns:last-child {
      flex: 1 0 60%;
      margin-left: 24px;
    }

    .tagline, .adresse {
      text-align: left;
    }

    .form-stroked-aqua input{
      margin: 2vh auto;
    }

    button {
      margin-left: 0;
    }

  }


}

// nouvelles

#nouvelles {

 .btn-read-articles {

    width: 100%;
    margin: 80px auto;
    text-align: center;
  }

}

@media (min-width: $md-screen) {

  #nouvelles {

    .last-posts-content {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
    }

    .post-card {
      flex: 0 0 48%;
      margin: 48px 0;
    }



  }

} // end of md-screen - 992px











@media (min-width: $xsm-screen) {
} // end of xsm-screen - 576px

@media (min-width: $sm-screen) {
} // end of sm-screen - 768px

@media (min-width: $md-screen) {

} // end of md-screen - 992px

@media (min-width: $lg-screen) {
} // end of lg-screen - 1200px

@media (min-width: $hg-screen) {
} // end of hg-screen - 1440px
