/*----- LAYOUTS: HOMEPAGE ----- */


#homepage {

  .main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  h3.section-title {
    font-size: 2.2rem;
    text-align: center;
  }

  .homepage-section {
    min-height: calc(100vh - 60px);
    display: flex;
    align-items: center;
  }

}

#expertise {
  flex-direction: column;
  justify-content: center;

  .expertise-field {
    background: $light-gray;
    border-radius: 4px;
    padding: 16px;
    margin: 16px;
  }
  .expertise-field h4 {
    text-align: center;
    color: $bright-aqua;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 1;
    margin: 1em auto;
  }

  ul {
    list-style: inside;
    padding-left: 0;
  }
}

#honoraires {
  flex-direction: column;
  h6 {
    text-transform: uppercase;
    font-size: 1.6rem;
    font-weight: 500;
  }
}


@media (min-width: $xsm-screen) {
} // end of xsm-screen - 576px

@media (min-width: $sm-screen) {
} // end of sm-screen - 768px

@media (min-width: $md-screen) {
  #presentation {
    display: flex;
    p {
      flex: 0 0 65%;
    }
  }
  #samanthagallay-logo {
    flex: 0 0 25%;
  }

  .expertises-container {
    display: flex;
    // flex-direction: column;
  }

  #honoraires {
    .honoraire-content {
      display: flex;
      justify-content: space-between;
    }

    .column {
      flex: 0 0 auto;
    }

    .three-columns {
      width: 30%;
    }
  }
} // end of md-screen - 992px

@media only screend and (min-width: $lg-screen) {
} // end of lg-screen - 1200px

@media (min-width: $hg-screen) {
} // end of hg-screen - 1440px
