/*----- LAYOUTS : MAIN ----- */

// general stuff
html {
  font-size: 62.5%;
  box-sizing: border-box;
  overflow-y: scroll;
  line-height: 1.4;
}

* {
  box-sizing: border-box;
}
*:before {
  box-sizing: border-box;
}
*:after {
  box-sizing: border-box;
}

body {
  margin: 0px !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-variant-numeric: lining-nums;
  -moz-font-feature-settings: "lnum";
  -webkit-font-feature-settings: "lnum";
  font-feature-settings: "lnum";
}


img {
  max-width: 100%;

}


// .hidden {
//   display: none;
// }

// lists

.inline-list {
  display: inline-block;
}


@media (min-width: $xsm-screen) {
} // end of xsm-screen - 576px

@media (min-width: $sm-screen) {
} // end of sm-screen - 768px

@media (min-width: $md-screen) {
} // end of md-screen - 992px

@media only screend and (min-width: $lg-screen) {
} // end of lg-screen - 1200px

@media (min-width: $hg-screen) {
} // end of hg-screen - 1440px
